'02_CONFIGURACION INSTANCIA PostgreSQL'/flights_RUSSIA_small.sql

04_BACKUP_RESTORE_POSTgreSQL/backup_restored_demo.sql

'11_MEJORANDO RENDIMIENTO DE CONSULTAS LENTAS MySQL'/employeesdb.zip



07_BACKUP_RESTORE_FISICA/backup_directory

'11_MEJORANDO RENDIMIENTO DE CONSULTAS LENTAS MySQL'/employeesdb


*.zip